.frappe-canvas {
  cursor: crosshair;
}

.frappe-action {
  cursor: pointer;
  fill: none;
  stroke: #000;
  stroke-width: 2;
}

.frappe-flow {
  pointer-events: none;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-linecap: butt;
}

.frappe-flow-marker {
  fill: #fff;
  stroke: none;
}

.frappe-label {
  cursor: text;
  stroke: none;
  fill: #fff;
  text-anchor: middle;
  font-family: "Courier New"; /*"Roboto Condensed", sans-serif;*/
  font-size: 13px;
}

.frappe-decision-order {
  stroke: #fff;
  stroke-width: 1;
  stroke-linejoin: round;
  transition: opacity 0.3s;
  opacity: 0;
}

.frappe-decision-order[data-asc] {
  fill: #3c3;
  cursor: n-resize;
}

.frappe-decision-order[data-desc] {
  fill: #c33;
  cursor: s-resize;
}

.frappe-textinput {
  font-family: "Courier New"; /*"Roboto Condensed", sans-serif;*/
  font-size: 13px;
  color: #fff;
  background-color: #444;
  border: 1px dashed #20aaf7;
  border-radius: 8px;
  text-align: center;
  display: table-cell;
  ime-mode: disabled;
  -ms-ime-mode: disabled;
  -webkit-ime-mode: disabled;
  -moz-ime-mode: disabled;
}

.frappe-textinput:focus {
  outline: none; /* #20aaf7 auto 3px; */
}

.frappe-textinput-shadow {
  position: absolute;
  display: block;
  opacity: 0;
}

.frappe-textinput-holder {
  position: absolute;
  display: table-cell;
  transform-origin: 50% 50%;
}

.frappe-flow-holder {
  stroke: transparent;
  stroke-width: 12;
}

.frappe-handle {
  opacity: 0;
  transform: translate(-4px, -4px);
  transition: opacity 0.3s;
}

.frappe-handle-hover {
  opacity: 1;
}

.frappe-handle-symbol {
  cursor: move;
  fill: none;
  pointer-events: visibleStroke;
  stroke: #000;
  stroke-width: 6;
  stroke-linecap: square;
}

.frappe-handle-bevel {
  cursor: move;
  fill: none;
  pointer-events: visibleStroke;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: square;
  opacity: 0.6;
}

.frappe-handle-joint {
  cursor: cell;
  fill: #000;
  stroke: #fff;
  stroke-width: 2;
}

.frappe-handle-remove {
  cursor: not-allowed;
  fill: #000;
  stroke: #fff;
  stroke-width: 2;
}

.frappe-branch-confirm {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 3;
}
